---
import { Image } from "astro:assets";
import CustomButton from "../CustomButton.astro";
---

<section class="py-[104px] bg-[#F9FAFB]">
    <div class="contain">
        <div class="bg-[#F3FCF1] rounded-3xl flex gap-5 flex-col lg:flex-row">
            <div class="w-1/2 p-16 pr-6">
                <div>
                    <div class="flex items-center">
                        <svg
                            width="20"
                            height="24"
                            viewBox="0 0 20 24"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                            ><g filter="url(#filter0_d_766_5722)"
                                ><path
                                    fill-rule="evenodd"
                                    clip-rule="evenodd"
                                    d="M0.55814 14.4024C0.249888 14.4024 0 14.6481 0 14.9512C0 15.2543 0.249888 15.5 0.55814 15.5H15.4419C15.7501 15.5 16 15.2543 16 14.9512C16 14.6481 15.7501 14.4024 15.4419 14.4024H14.6977H12.8372H11.7209V10.561C11.7209 9.18126 11.7209 8.4914 11.285 8.06278C10.8491 7.63416 10.1474 7.63416 8.74419 7.63416H7.25581C5.85256 7.63416 5.15094 7.63416 4.715 8.06278C4.27907 8.4914 4.27907 9.18126 4.27907 10.561V14.4024H3.16279H1.30233H0.55814ZM5.95349 9.82928C5.95349 9.52619 6.20338 9.2805 6.51163 9.2805H9.48837C9.79662 9.2805 10.0465 9.52619 10.0465 9.82928C10.0465 10.1324 9.79662 10.3781 9.48837 10.3781H6.51163C6.20338 10.3781 5.95349 10.1324 5.95349 9.82928ZM5.95349 12.0244C5.95349 11.7213 6.20338 11.4756 6.51163 11.4756H9.48837C9.79662 11.4756 10.0465 11.7213 10.0465 12.0244C10.0465 12.3275 9.79662 12.5732 9.48837 12.5732H6.51163C6.20338 12.5732 5.95349 12.3275 5.95349 12.0244Z"
                                    fill="#3FB12C"></path></g
                            ><g opacity="0.5"
                                ><path
                                    d="M5.02366 2.14634C5.72529 2.14634 6.0761 2.14634 6.29407 2.36065C6.51204 2.57497 6.51204 2.9199 6.51204 3.60976L6.51203 4.92129C6.6287 4.97705 6.73017 5.04734 6.82029 5.13594C7.121 5.43161 7.21428 5.8516 7.24321 6.53658V7.63415C5.84863 7.63415 5.15 7.63547 4.71541 8.06277C4.27948 8.49139 4.27948 9.18125 4.27948 10.561V14.4024H1.30273V7.63415C1.30273 6.25443 1.30273 5.56456 1.73867 5.13594C1.82878 5.04734 1.93025 4.97705 2.04692 4.92129V3.60976C2.04692 2.9199 2.04692 2.57497 2.26489 2.36065C2.48285 2.14634 2.83367 2.14634 3.53529 2.14634H3.72134V1.04878C3.72134 0.745697 3.97123 0.5 4.27948 0.5C4.58773 0.5 4.83762 0.745697 4.83762 1.04878V2.14634H5.02366Z"
                                    fill="url(#paint0_radial_766_5722)"
                                ></path><path
                                    d="M14.433 2.69275C14.168 2.31671 13.7009 2.14446 12.7666 1.79998C10.9394 1.12628 10.0258 0.789429 9.3852 1.22592C8.74459 1.66242 8.74459 2.62176 8.74459 4.54045V7.63415C10.1478 7.63415 10.8495 7.63415 11.2854 8.06277C11.7213 8.49139 11.7213 9.18125 11.7213 10.561V14.4024H14.6981V4.54045C14.6981 3.55934 14.6981 3.06879 14.433 2.69275Z"
                                    fill="url(#paint1_radial_766_5722)"
                                ></path></g
                            ><defs
                                ><filter
                                    id="filter0_d_766_5722"
                                    x="-4"
                                    y="7.63416"
                                    width="24"
                                    height="15.8658"
                                    filterUnits="userSpaceOnUse"
                                    color-interpolation-filters="sRGB"
                                    ><feFlood
                                        flood-opacity="0"
                                        result="BackgroundImageFix"
                                    ></feFlood><feColorMatrix
                                        in="SourceAlpha"
                                        type="matrix"
                                        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
                                        result="hardAlpha"
                                    ></feColorMatrix><feOffset dy="4"
                                    ></feOffset><feGaussianBlur stdDeviation="2"
                                    ></feGaussianBlur><feComposite
                                        in2="hardAlpha"
                                        operator="out"
                                    ></feComposite><feColorMatrix
                                        type="matrix"
                                        values="0 0 0 0 0.247059 0 0 0 0 0.694118 0 0 0 0 0.172549 0 0 0 0.25 0"
                                    ></feColorMatrix><feBlend
                                        mode="normal"
                                        in2="BackgroundImageFix"
                                        result="effect1_dropShadow_766_5722"
                                    ></feBlend><feBlend
                                        mode="normal"
                                        in="SourceGraphic"
                                        in2="effect1_dropShadow_766_5722"
                                        result="shape"></feBlend></filter
                                ><radialGradient
                                    id="paint0_radial_766_5722"
                                    cx="0"
                                    cy="0"
                                    r="1"
                                    gradientUnits="userSpaceOnUse"
                                    gradientTransform="translate(8.00041 8.68145) rotate(88.0677) scale(11.9286 11.493)"
                                    ><stop stop-color="#3FB12C"></stop><stop
                                        offset="1"
                                        stop-color="#3FB12C"
                                        stop-opacity="0"></stop></radialGradient
                                ><radialGradient
                                    id="paint1_radial_766_5722"
                                    cx="0"
                                    cy="0"
                                    r="1"
                                    gradientUnits="userSpaceOnUse"
                                    gradientTransform="translate(8.00041 8.68145) rotate(88.0677) scale(11.9286 11.493)"
                                    ><stop stop-color="#3FB12C"></stop><stop
                                        offset="1"
                                        stop-color="#3FB12C"
                                        stop-opacity="0"></stop></radialGradient
                                ></defs
                            ></svg
                        >
                        <p class="capitalize text-[0.78rem] ml-2">
                            FOR BUSINESS
                        </p>
                    </div>
                    <h1 class="font-grotesk25 text-3xl mt-1 font-medium">
                        Corporate & SMEs Plan
                    </h1>
                    <p class="font-inter text-lg text-[#4F5551] mt-3">
                        A healthy worker can do their best and more. Show them
                        you consider them important by giving them health care
                        that can adequately attend to their needs. Our plans
                        will ensure your staff get priority treatment, support
                        and much more.
                    </p>
                </div>
                <div class="h-px bg-[#8be27c] my-6"></div>

                <div>
                    <h1 class="font-medium font-grosek">How it works</h1>
                    <ul class="space-y-4 py-4">
                        <li class="flex gap-2 items-center">
                            <svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class="shrink-0"
                                ><rect
                                    width="24"
                                    height="24"
                                    rx="12"
                                    fill="#C2F2BA"></rect><path
                                    d="M7.91707 13.1666L7.91699 7.9167L9.08366 7.91669L9.08372 12L15.0173 12L12.7133 9.69601L13.5382 8.87106L17.2506 12.5834L13.5382 16.2957L12.7133 15.4707L15.0173 13.1667L7.91707 13.1666Z"
                                    fill="#1F6F15"></path></svg
                            >
                            <span class="text-sm font-sans font-normal">
                                Enter your information by clicking the button
                                below.
                            </span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class="shrink-0"
                                ><rect
                                    width="24"
                                    height="24"
                                    rx="12"
                                    fill="#C2F2BA"></rect><path
                                    d="M7.91707 13.1666L7.91699 7.9167L9.08366 7.91669L9.08372 12L15.0173 12L12.7133 9.69601L13.5382 8.87106L17.2506 12.5834L13.5382 16.2957L12.7133 15.4707L15.0173 13.1667L7.91707 13.1666Z"
                                    fill="#1F6F15"></path></svg
                            >
                            <span class="text-sm font-sans font-normal">
                                Dot sale agents will contact you at your
                                preferred time.
                            </span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class="shrink-0"
                                ><rect
                                    width="24"
                                    height="24"
                                    rx="12"
                                    fill="#C2F2BA"></rect><path
                                    d="M7.91707 13.1666L7.91699 7.9167L9.08366 7.91669L9.08372 12L15.0173 12L12.7133 9.69601L13.5382 8.87106L17.2506 12.5834L13.5382 16.2957L12.7133 15.4707L15.0173 13.1667L7.91707 13.1666Z"
                                    fill="#1F6F15"></path></svg
                            >
                            <span class="text-sm font-sans font-normal">
                                You can negotiate further and purchase a plan.
                            </span>
                        </li>
                        <li class="flex gap-2 items-center">
                            <svg
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class="shrink-0"
                                ><rect
                                    width="24"
                                    height="24"
                                    rx="12"
                                    fill="#C2F2BA"></rect><path
                                    d="M7.91707 13.1666L7.91699 7.9167L9.08366 7.91669L9.08372 12L15.0173 12L12.7133 9.69601L13.5382 8.87106L17.2506 12.5834L13.5382 16.2957L12.7133 15.4707L15.0173 13.1667L7.91707 13.1666Z"
                                    fill="#1F6F15"></path></svg
                            >
                            <span class="text-sm font-sans font-normal">
                                We can also customize plans for you based on
                                your request.
                            </span>
                        </li>
                    </ul>
                    <CustomButton
                        id=""
                        className="bg-black mt-6 text-white"
                        text="Get started for Business"
                    />
                </div>
            </div>

            <div class="w-1/2">
                <div class="relative mx-auto max-w-[450px] max-x-[100px]">
                    <Image
                        width={500}
                        height={500}
                        src="/images/corporate-man.webp"
                        alt=""
                        class="w-full h-full object-cover"
                    />
                </div>
            </div>
        </div>
    </div>
</section>
