---
import CustomButton from "../CustomButton.astro";
import CaretDown from "../UI/CaretDown.astro";
---

<section class="py-20">
    <div class="contain">
        <div class="text-center">
            <h1 class="font-grosek text-3xl md:text-[2.8rem] font-medium mb-2">
                An all-in-one POS built to grow with your business
            </h1>
            <p class="font-inter md:text-lg text-muted">
                Be the best in your business and get a terminal that provides
                you with everything you need for your business growth in just 10
                minutes
            </p>
        </div>

        <div class="flex max-md:flex-col space-x-5 mt-9">
            <div class="w-[200px] h-auto">
                <ul class="font-grosek text-sm font-[410]">
                    <li class="active" data-list>Step 1: Begin</li>
                    <li class="" data-list>Step 2: Request</li>
                    <li class="" data-list>Step 3: Get POS</li>
                    <li class="" data-list>Step 4: Fund</li>
                </ul>
            </div>
            <div class="flex-1 gap-11 flex-col flex">
                <div class="lg:w-1/2">
                    <div
                        class="w-full max-w-[600px] bg-[url('/images/hero-insure-guy.webp')] bg-center bg-cover h-full rounded-2xl"
                    >
                    </div>
                </div>
                <div class="space-y-10 lg:w-1/2">
                    <div>
                        <h1 class="font-grosek mb-2 font-medium text-[1.8rem]">
                            Sell better with our Terminal
                        </h1>
                        <p class="text-muted font-">
                            Visit any of our Dot Partners Locations to get your
                            terminal, we have offices in 11 states in the
                            country. To get started there, kindly go with the
                            following documents:
                        </p>
                    </div>
                    <div>
                        <ul class="space-y-6 text-[14px]">
                            <li class="flex items-center gap-x-3">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="#C2F2BA"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="shrink-0"
                                    ><rect width="24" height="24" rx="12"
                                    ></rect><g clip-path="url(#clip0_53_3363)"
                                        ><path
                                            d="M10.6665 14.1146L16.7945 7.98596L17.7378 8.92863L10.6665 16L6.42383 11.7573L7.3665 10.8146L10.6665 14.1146Z"
                                            fill="black"></path></g
                                    ><defs
                                        ><clipPath id="clip0_53_3363"
                                            ><rect
                                                width="16"
                                                height="16"
                                                fill="white"
                                                transform="translate(4 4)"
                                            ></rect></clipPath
                                        ></defs
                                    ></svg
                                ><span>Valid means of identification</span>
                            </li>
                            <li class="flex items-center gap-x-3">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="#C2F2BA"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="shrink-0"
                                    ><rect width="24" height="24" rx="12"
                                    ></rect><g clip-path="url(#clip0_53_3363)"
                                        ><path
                                            d="M10.6665 14.1146L16.7945 7.98596L17.7378 8.92863L10.6665 16L6.42383 11.7573L7.3665 10.8146L10.6665 14.1146Z"
                                            fill="black"></path></g
                                    ><defs
                                        ><clipPath id="clip0_53_3363"
                                            ><rect
                                                width="16"
                                                height="16"
                                                fill="white"
                                                transform="translate(4 4)"
                                            ></rect></clipPath
                                        ></defs
                                    ></svg
                                ><span>CAC document</span>
                            </li>
                            <li class="flex items-center gap-x-3">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="#C2F2BA"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="shrink-0"
                                    ><rect width="24" height="24" rx="12"
                                    ></rect><g clip-path="url(#clip0_53_3363)"
                                        ><path
                                            d="M10.6665 14.1146L16.7945 7.98596L17.7378 8.92863L10.6665 16L6.42383 11.7573L7.3665 10.8146L10.6665 14.1146Z"
                                            fill="black"></path></g
                                    ><defs
                                        ><clipPath id="clip0_53_3363"
                                            ><rect
                                                width="16"
                                                height="16"
                                                fill="white"
                                                transform="translate(4 4)"
                                            ></rect></clipPath
                                        ></defs
                                    ></svg
                                ><span>House utility bills</span>
                            </li>
                            <li class="flex items-center gap-x-3">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="#C2F2BA"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="shrink-0"
                                    ><rect width="24" height="24" rx="12"
                                    ></rect><g clip-path="url(#clip0_53_3363)"
                                        ><path
                                            d="M10.6665 14.1146L16.7945 7.98596L17.7378 8.92863L10.6665 16L6.42383 11.7573L7.3665 10.8146L10.6665 14.1146Z"
                                            fill="black"></path></g
                                    ><defs
                                        ><clipPath id="clip0_53_3363"
                                            ><rect
                                                width="16"
                                                height="16"
                                                fill="white"
                                                transform="translate(4 4)"
                                            ></rect></clipPath
                                        ></defs
                                    ></svg
                                ><span>House utility bill</span>
                            </li>
                            <li class="flex items-center gap-x-3">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="#C2F2BA"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="shrink-0"
                                    ><rect width="24" height="24" rx="12"
                                    ></rect><g clip-path="url(#clip0_53_3363)"
                                        ><path
                                            d="M10.6665 14.1146L16.7945 7.98596L17.7378 8.92863L10.6665 16L6.42383 11.7573L7.3665 10.8146L10.6665 14.1146Z"
                                            fill="black"></path></g
                                    ><defs
                                        ><clipPath id="clip0_53_3363"
                                            ><rect
                                                width="16"
                                                height="16"
                                                fill="white"
                                                transform="translate(4 4)"
                                            ></rect></clipPath
                                        ></defs
                                    ></svg
                                >
                                <span
                                    >Your Next of kin passport and house utility
                                    bill</span
                                >
                            </li>
                        </ul>
                        <CustomButton
                            href="https://www.dotai/signup"
                            id="ssd"
                            text="Contact Support"
                            className="bg-black text-white mt-12"
                            ><svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="currentColor"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="lucide lucide-chevron-right"
                                data-astro-source-file="C:/Users/USER/Desktop/Dot Ai/dot-clone/src/components/coporatePage/HeroSection.astro"
                                data-astro-source-loc="45:23"
                                ><polyline
                                    points="9 18 15 12 9 6"
                                    data-astro-source-file="C:/Users/USER/Desktop/Dot Ai/dot-clone/src/components/coporatePage/HeroSection.astro"
                                    data-astro-source-loc="45:23"
                                ></polyline></svg
                            ></CustomButton
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    let selector = 0;
    const data = [
        {
            imageUrl: "",
            title: "Start banking with us",
            body: "Contact our sales team to get started, you will need the documents below",
            points: [
                "Valid means of identification",
                "CAC document",
                "Passport photograh",
                "House utility bill",
                "Your Next of kin passport and house utility bill",
            ],
        },
        {
            imageUrl: "",
            title: "Validate your account",
            body: "After your documents has been reviewed by our team, an email containing your account number will be sent to you, after which you can use this account number to create a profile, the process involves:",
            points: [
                "Input account number received via email",
                "Verify account via OTP sent to email",
                "Create login info, such as password",
                "Create transaction PIN, and you're all set!",
            ],
        },
    ];
    const showcase = document.querySelector("#showcase");
    const elementsList = [...document.querySelectorAll("[data-list]")];
</script>

<style>
    ul.font-grosek > li {
        height: 60px;
        display: flex;
        align-items: center;
        padding: 16px;
        border-left: 2.3px solid black;
        cursor: pointer;
    }

    ul.font-grosek > li:not(.active) {
        @apply border-muted text-muted;
    }
</style>
