---
import CustomButton from "../CustomButton.astro";
import CaretDown from "../UI/CaretDown.astro";
---

<section class="py-20">
    <div class="contain">
        <div class="text-center">
            <h1 class="font-grosek text-3xl md:text-[2.8rem] font-medium mb-2">
                Ready for banking to be frustration-free?
            </h1>
            <p class="font-inter md:text-lg text-muted text-balance">
                It only takes 5 minutes to open a bank account that will not
                stress you
            </p>
        </div>

        <div class="flex max-md:flex-col max-md:space-y-7 md:space-x-5 mt-9">
            <div class="w-[200px] h-auto">
                <ul class="font-grosek text-sm font-[410]">
                    <li class="active" data-list>DOwnload the app</li>
                    <li class="" data-list>Register account</li>
                    <li class="" data-list>Verify account</li>
                    <li class="" data-list>Start banking</li>
                    <li class="" data-list>Register account</li>
                </ul>
            </div>
            <div
                class="flex-1 md:space-x-11 max-md:flex-col flex"
                id="showcase"
            >
                <div class="md:w-1/2 max-md:h-[350px]">
                    <div
                        class="w-full max-w-[600px] bg-[url('/images/step1-bg.webp')] bg-center bg-cover h-full rounded-2xl"
                    >
                    </div>
                </div>
                <div class="space-y-10 w-1/2 max-md:mt-8">
                    <div>
                        <h1 class="font-grosek mb-2 font-medium text-[1.8rem]">
                            Download our mobile app or visit our web banking app
                        </h1>
                        <p class="text-muted font-">
                            create a new banking experience with us! Download
                            our mobile app for on-the-go access or visit our web
                            banking platform for comprehensive financial
                            services at your fingertips.
                        </p>
                    </div>
                    <div>
                        <ul class="space-y-6 text-[14px]">
                            <li class="flex items-center gap-x-3">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="#C2F2BA"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="shrink-0"
                                    ><rect width="24" height="24" rx="12"
                                    ></rect><g clip-path="url(#clip0_53_3363)"
                                        ><path
                                            d="M10.6665 14.1146L16.7945 7.98596L17.7378 8.92863L10.6665 16L6.42383 11.7573L7.3665 10.8146L10.6665 14.1146Z"
                                            fill="black"></path></g
                                    ><defs
                                        ><clipPath id="clip0_53_3363"
                                            ><rect
                                                width="16"
                                                height="16"
                                                fill="white"
                                                transform="translate(4 4)"
                                            ></rect></clipPath
                                        ></defs
                                    ></svg
                                ><span
                                    >Download DotMFB app on Android or Apple
                                    store</span
                                >
                            </li>
                            <li class="flex items-center gap-x-3">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="#C2F2BA"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="shrink-0"
                                    ><rect width="24" height="24" rx="12"
                                    ></rect><g clip-path="url(#clip0_53_3363)"
                                        ><path
                                            d="M10.6665 14.1146L16.7945 7.98596L17.7378 8.92863L10.6665 16L6.42383 11.7573L7.3665 10.8146L10.6665 14.1146Z"
                                            fill="black"></path></g
                                    ><defs
                                        ><clipPath id="clip0_53_3363"
                                            ><rect
                                                width="16"
                                                height="16"
                                                fill="white"
                                                transform="translate(4 4)"
                                            ></rect></clipPath
                                        ></defs
                                    ></svg
                                ><span
                                    >Or click “open an account” to get started</span
                                >
                            </li>
                        </ul>
                        <div>
                            <CustomButton
                                href="https://www.dotai/signup"
                                id="ssd"
                                text="Open an account"
                                className="bg-black text-white mt-12"
                            />
                            <button
                                class="inline-flex border rounded-xl space-x-2 items-center bg-white p-3 px-4"
                            >
                                <span>Download our app</span>
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    ><g id="vuesax/bulk/google-play"
                                        ><g id="google-play"
                                            ><g id="Group 35"
                                                ><path
                                                    id="Vector"
                                                    opacity="0.4"
                                                    d="M21.4 12.9508L16.89 15.2108L13.7 12.0208L16.92 8.80078L21.4 11.0508C22.19 11.4408 22.19 12.5608 21.4 12.9508Z"
                                                    fill="black"></path><path
                                                    id="Vector_2"
                                                    d="M16.92 8.79961L13.7 12.0196L4.03003 2.34961L16.92 8.79961Z"
                                                    fill="black"></path><path
                                                    id="Vector_3"
                                                    opacity="0.4"
                                                    d="M13.7 12.0202L4.12 21.6003L3.55 21.8902C2.83 22.2402 2 21.7302 2 20.9302V3.07025C2 2.27025 2.83 1.76024 3.55 2.11024L4.03 2.35025L13.7 12.0202Z"
                                                    fill="black"></path><path
                                                    id="Vector_4"
                                                    d="M16.89 15.2095L4.12 21.5995L13.7 12.0195L16.89 15.2095Z"
                                                    fill="black"></path></g
                                            ></g
                                        ></g
                                    ></svg
                                ><div class="h-[19px] border-l border-gray-300">
                                </div><svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                    ><g id="vuesax/bulk/apple"
                                        ><g id="apple"
                                            ><g id="Group 4"
                                                ><g id="Group"
                                                    ><path
                                                        id="Vector"
                                                        fill-rule="evenodd"
                                                        clip-rule="evenodd"
                                                        d="M19.1 19.16C19.69 18.26 19.91 17.8 20.36 16.79C17.04 15.53 16.51 10.8 19.79 8.99C18.79 7.73 17.38 7 16.05 7C15.09 7 14.43 7.25 13.84 7.48C13.34 7.67 12.89 7.84 12.33 7.84C11.73 7.84 11.2 7.65 10.64 7.45C10.04 7.23 9.39995 7 8.59995 7C7.10995 7 5.51996 7.91 4.50996 9.47C3.08996 11.67 3.33995 15.79 5.62995 19.31C6.44995 20.57 7.54996 21.98 8.97996 22C9.57996 22.01 9.96996 21.83 10.4 21.64C10.89 21.42 11.42 21.18 12.35 21.18C13.28 21.17 13.8 21.42 14.29 21.64C14.71 21.83 15.09 22.01 15.68 22C17.12 21.98 18.28 20.42 19.1 19.16Z"
                                                        fill="black"></path></g
                                                ><path
                                                    id="Vector_2"
                                                    opacity="0.4"
                                                    fill-rule="evenodd"
                                                    clip-rule="evenodd"
                                                    d="M15.8399 2C15.9999 3.1 15.5499 4.19 14.9599 4.95C14.3299 5.77 13.2299 6.41 12.1699 6.37C11.9799 5.31 12.4699 4.22 13.0699 3.49C13.7399 2.69 14.8699 2.07 15.8399 2Z"
                                                    fill="black"></path></g
                                            ></g
                                        ></g
                                    ></svg
                                ></button
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    let selector = 0;
    const data = [
        {
            imageUrl: "",
            title: "Start banking with us",
            body: "Contact our sales team to get started, you will need the documents below",
            points: [
                "Valid means of identification",
                "CAC document",
                "Passport photograh",
                "House utility bill",
                "Your Next of kin passport and house utility bill",
            ],
        },
        {
            imageUrl: "",
            title: "Validate your account",
            body: "After your documents has been reviewed by our team, an email containing your account number will be sent to you, after which you can use this account number to create a profile, the process involves:",
            points: [
                "Input account number received via email",
                "Verify account via OTP sent to email",
                "Create login info, such as password",
                "Create transaction PIN, and you're all set!",
            ],
        },
    ];
    const showcase = document.querySelector("#showcase");
    const elementsList = [...document.querySelectorAll("[data-list]")];
</script>

<style>
    ul.font-grosek > li {
        height: 60px;
        display: flex;
        align-items: center;
        padding: 16px;
        border-left: 2.3px solid black;
        cursor: pointer;
    }

    ul.font-grosek > li:not(.active) {
        @apply border-muted text-muted;
    }
</style>
