

<div class="mb-12">
    <div
        data-animate="fade-in"
        class="relative animate-js mb-16 w-full flex flex-col justify-between gap-6 xl:flex-row xl:gap-10"
    >
        <div class="font-grotesk25 font-medium flex-1 text-[40px] md:text-6xl">
            <h1 class="">
                Do <span
                    class="text-[#8be27c] border border-[#142E0E] px-3 rounded-2xl lg:h-[70px] p-4 bg-[#0B1B07]"
                    >Banking</span
                >
            </h1>
            <h1 class="mt-[1rem] md:mt-[3rem]">with Dot</h1>
        </div>

        <div class="w-full flex-1">
            <p
                class="text-wrap mb-7 max-w-[600px] font-inter md:text-lg text-[#808691]"
            >
                Receive payments, apply for business loans, access
                wealth-building investments, get insurance and everything you
                need to create the life you want.
            </p>
            <div class="flex gap-8">
              
                <h1
                    class="font-inter flex items-center space-x-2 justify-center"
                >
                    <span><a href="/#learn-more">Learn More</a></span>
                    <span class="-rotate-90 mt-1">
                     
                    </span>
                </h1>
            </div>
        </div>
    </div>
    <div class="flex h-[400px] overflow-y-hidden gap-5 overflow-x-auto">
        <div
            data-animate="fade-in"
            data-delay=".3"
            class="rounded-2xl animate-js relative shrink-0 w-[330px] lg:flex-[1.5] overflow-hidden"
        >
          
        </div>
        <div
            data-animate="fade-in"
            data-delay=".4"
            class="rounded-2xl animate-js relative w-[330px] shrink-0 lg:flex-1 overflow-hidden"
        >
           
        </div>
        <div
            data-animate="fade-in"
            data-delay=".5"
            class="rounded-2xl animate-js relative w-[330px] shrink-0 lg:flex-1 overflow-hidden"
        >
            
        </div>
    </div>
</div>

<style>
    h1 {
        @apply max-md:font-[40px];
    }

    .flex::-webkit-scrollbar {
        display: none;
    }
</style>
