---
import { Image } from "astro:assets";
import CustomButton from "../CustomButton.astro";
import InterestingButton from "../UI/InterestingButton.astro";
---

<main class="bg-[#F2F6FE] pt-24 min-h-screen">
    <div class="contain relative justify-between lg:py-24 flex max-lg:flex-col">
        <div class="lg:w-1/2 relative h-[560px] max-w-[480px]">
            <InterestingButton text="Fund your business" variants="blue" />
            <h1
                data-animate="fade-in"
                class="font-grosek mt-6 animate-js font-medium text-5xl leading-[4rem]"
            >
                Get the wheel of your choice
            </h1>
            <p
                data-animate="fade-in"
                class="font-inter animate-js mt-4 text-lg text-muted"
            >
                The ride you've always wanted doesn't have to remain in your
                imagination. We're here to assist you with financing options,
                allowing you to make payments at your convenience over an agreed
                period that suits you
            </p>

            <CustomButton
                id="button-corporate"
                text="Contact sales"
                href=""
                className="bg-black text-white mt-10"
                ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="lucide lucide-chevron-right"
                    ><polyline points="9 18 15 12 9 6"></polyline></svg
                ></CustomButton
            >

            <div
                class="flex absolute bottom-1 gap-5 font-inter text-sm text-slate-500"
            >
                <div class="flex items-center gap-2">
                    <p>Licensed by the CBN</p><Image
                        src="/images/cbn.webp"
                        alt=""
                        width={25}
                        height={25}
                    />
                </div>
                <div class="flex items-center gap-2">
                    <p>Deposits insured by</p><Image
                        src="https://www.dot.ai/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fndic.271c77e2.webp&w=96&q=75"
                        alt=""
                        width={67}
                        height={25}
                    />
                </div>
            </div>
        </div>
        <div
            class="lg:w-1/2 overflow-hidden rounded-2xl max-w-[cal(1fr-30px)] relative backdrop-blur-sm bg-[url('/images/blur.webp')] bg-cover"
        >
            <Image
                src="/images/asset-finance-hero.webp"
                alt=""
                width={150}
                height={150}
                class="w-full h-full absolute top-0 left-0 bottom-0 right-0"
            />
        </div>
    </div>
</main>
