---
import { Image } from "astro:assets";
---

<section class="bg-black mt-12">
    <div class="contain">
        <div class="flex max-md:flex-col items-center gap-7 md:gap-14">
            <div class="flex-1 max-md:py-12">
                <div
                    class="bg-[#212225] min-h-[25rem] md:h-[35rem] px-8 rounded-3xl md:px-24 flex items-center justify-center flex-1"
                >
                    <div>
                        <h1
                            class="text-white text-3xl md:text-[2.5rem] leading-[50px] tracking-wide font-grosek font-medium"
                        >
                            Start your journey
                        </h1>
                        <p class="pt-4 max-md:text-sm text-gray-200">
                            You don't have to save up all the money to get a
                            ride. Discover our vehicles for your location,
                            explore options, choose a model, and kickstart your
                            journey with us and our reliable partners.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex-1 min-h-[500px]">
                <Image
                    src="/images/assetfinance-collage.webp"
                    width={700}
                    height={500}
                    alt={""}
                />
            </div>
        </div>
    </div>
</section>
