---
import CustomButton from "../components/CustomButton.astro";
import Header from "../components/Header.astro";
import Logo from "../components/Logo.astro";
import Layout from "../layouts/Layout.astro";
import HeroSection from "../components/asset-finance/HeroSection.astro";
import Card from "../components/coporatePage/Card.astro";
import SectionToggle from "../components/asset-finance/SectionToogle.astro";
import InvestmentStat from "../components/loans/InvestmentStat.astro";
import Footer from "../components/Footer.astro";
import Testimonials from "../components/loans/Testimonials.astro";
import Section2 from "../components/asset-finance/Section2.astro";
import MobileViewHeader from "../components/MobileViewHeader.astro";
---

<Layout title="Banking made easy for your business - Dot">
    <Header id="instant-loan-header" styles="bg-white text-black">
        <Fragment slot="button">
            <CustomButton
                id="header"
                text="Open an account"
                href="https://retail.dot.ai/signup"
            />
        </Fragment>
        <Fragment slot="logo">
            <Logo color="black" />
        </Fragment>
    </Header>
    <MobileViewHeader />
    <HeroSection />
    <section class="py-[104px]">
        <div class="contain">
            <div class="text-center">
                <h1
                    data-animate="fade-in"
                    class="font-grosek animate-js mb-2 text-[2.7rem] font-medium"
                >
                    Bike or keke. Find the perfect ride.
                </h1>
                <p
                    data-animate="fade-in"
                    class="font-inter mx-auto animate-js text-muted text-lg w-[80%] max-w-[900px]"
                >
                    Choose your preferred option. Two wheels or three, we have
                    what you need.
                </p>
            </div>

            <div class="grid grid-cols-6 gap-7 py-14">
                <Card
                    className="col-span-2"
                    title="Two-wheelers"
                    subtitle="Get your own okada and pay over a set timeframe. Find out how to make an income with a plan that suits your way of life."
                    imageurl="/images/bulk-transfer.webp"
                />
                <Card
                    className="col-span-2"
                    title="Three-wheelers"
                    subtitle="Agents enjoy daily cash access and instant disbursement upon tier qualification."
                    imageurl="/images/confetti.webp"
                />
                <Card
                    className="col-span-2 px-4"
                    title="Enterprise asset finance"
                    subtitle="In case your company is in need of any of our assets, feel free to reach out. We're ready and excited to become your partner."
                    imageurl="/images/scheduled.webp"
                />
            </div>
        </div>
    </section>
    <section
        style="background-image: url('/images/asset-finance-full.webp');"
        class="bg-cover mb-9 w-full h-[28rem] bg-center"
    >
    </section>
    <SectionToggle />
    <Section2 />
    <Testimonials />
    <Footer title="Here for when life happens" />
</Layout>
