---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Feature from "../components/Feature.astro";
import Hero from "../components/Hero.astro";
import Stats from "../components/Stats.astro";
import LearnMore from "../components/LearnMore.astro";
import Mission from "../components/Mission.astro";
import CustomersStory from "../components/CustomersStory.astro";
---

<!-- <script>
    let lastScroll = 0;
    const checkScrollingDirection = (func1: Function, func2: Function) => {
        document.addEventListener("scroll", (e) => {
            const currentScroll = window.scrollY;

            if (lastScroll > window.scrollY) {
                func1();
            } else {
                func2();
            }

            lastScroll = currentScroll <= 0 ? 0 : currentScroll;
        });
    };

    let observer = new IntersectionObserver((e) => {
        e.forEach((j) => {
            if (j.isIntersecting) {
                checkScrollingDirection(
                    () => {
                        console.log("a");
                    },
                    () => {
                        console.log("b");
                    }
                );
            }
        });
    });

    observer.observe(document.querySelector("#feature__section") as Element);
</script> -->
<Layout title="Do life with Dot">
    <div class="bg-black text-white">
        <Header />
        <main
            class="bg-black bg-right-top contain bg-contain bg-no-repeat min-h-[900px] pt-[11rem] bg-[url('/images/hero-pattern.png')]"
        >
            <Hero />
        </main>
        <Feature />
        <Stats />
        <LearnMore />
        <Mission />
        <CustomersStory />
    </div>
</Layout>
