---
import Card from "../components/coporatePage/Card.astro";
import CustomButton from "../components/CustomButton.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/investementlandingpage/HeroSection.astro";
import Logo from "../components/Logo.astro";
import Layout from "../layouts/Layout.astro";
import SectionToggle from "../components/investementlandingpage/SectionToggle.astro";
import InvestmentStat from "../components/investementlandingpage/InvestmentStat.astro";
import Testimonials from "../components/coporatePage/Testimonials.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Grow your weath - Dot">
    <Header id="corporate-page-header" styles="bg-white text-black">
        <Fragment slot="button">
            <CustomButton
                id="header_open_an_account"
                text="Open an account"
                href="https://retail.dot.ai/signup"
            />
        </Fragment>
        <Fragment slot="logo">
            <Logo color="black" />
        </Fragment>
    </Header>
    <HeroSection />
    <section class="py-[104px]">
        <div class="contain">
            <div class="text-center">
                <h1
                    data-animate="fade-in"
                    class="font-grosek animate-js mb-2 md:text-4xl text-3xl lg:text-[2.7rem] font-medium"
                >
                    Keeping your money safe is our business
                </h1>
                <p
                    data-animate="fade-in"
                    class="font-inter mx-auto animate-js text-muted lg:text-lg w-[80%] max-w-[900px]"
                >
                    We use industry-standard encryption technology and
                    two-factor authentication to verify all customer accounts.
                </p>
            </div>

            <div class="grid lg:grid-cols-6 gap-7 py-14">
                <Card
                    className="lg:col-span-2"
                    title="Top notch security"
                    subtitle="We use industry-standard encryption technology and two-factor authentication to verify all customer accounts."
                    imageurl="/images/bulk-transfer.webp"
                />
                <Card
                    className="lg:col-span-2"
                    title="Regulatory compliance"
                    subtitle="We're duly registered and your funds are fully insured by the NDIC."
                    imageurl="/images/confetti.webp"
                />
                <Card
                    className="lg:col-span-2 px-4"
                    title="Unmatched interests"
                    subtitle="Regardless of your investment size, we guarantee the best fixed returns on your money"
                    imageurl="/images/scheduled.webp"
                />
            </div>
        </div>
    </section>
    <section
        class="bg-[url('/images/corporate-banking-full.webp')] bg-cover mb-9 w-full h-[20rem] lg:h-[28rem] bg-center"
    >
    </section>
    <SectionToggle />
    <InvestmentStat />
    <Testimonials />
    <Footer
        title="Get a head start on your future"
        description="Do life with Dot"
    />
</Layout>
