---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import CustomButton from "../components/CustomButton.astro";
import Logo from "../components/Logo.astro";

import HeroSection from "../components/personalbanking/HeroSection.astro";
import Card from "../components/coporatePage/Card.astro";
import Footer from "../components/Footer.astro";
import SectionToggleMenu from "../components/personalbanking/SectionToggleMenu.astro";
import Section2 from "../components/personalbanking/Section2.astro";
import Testimonials from "../components/coporatePage/Testimonials.astro";
import MobileViewHeader from "../components/MobileViewHeader.astro";
---

<Layout title="Banking made easy for your business - Banking">
    <Header id="corporate-page-header" styles="bg-white text-black"> 
                        
        <Fragment slot="button">
            <CustomButton
                id="header_open_an_account"
                text="Open an account"
                href="https://retail.dot.ai/signup"
            />
        </Fragment>
        <Fragment slot="logo">
            <Logo color="black" />
        </Fragment>
    </Header>
    <MobileViewHeader />
    <HeroSection />
    <section class="py-[104px]">
        <div class="contain">
            <div class="text-center">
                <h1
                    data-animate="fade-in"
                    class="font-grosek animate-js mb-2 text-3xl md:text-[2.7rem] font-medium"
                >
                    Enjoy banking on the Dot
                </h1>
                <p
                    data-animate="fade-in"
                    class="font-inter mx-auto animate-js text-muted md:text-lg w-[80%] max-w-[900px]"
                >
                    However you choose to bank, we have what you need to make
                    your experience easy
                </p>
            </div>

            <div class="grid lg:grid-cols-6 gap-7 py-14">
                <Card
                    className="md:col-span-3"
                    title="Instant banking"
                    subtitle="Send money online from your phone or web to anyone and they get it in 10 seconds."
                    imageurl="/images/bulk-transfer.webp"
                />
                <Card
                    className="md:col-span-3"
                    title="Earn rewards"
                    subtitle='Your recipient receives an instant alert once you click " send. " Send money with high speed and low fees.'
                    imageurl="/images/confetti.webp"
                />
                <Card
                    className="md:col-span-2 px-4"
                    title="Investments"
                    subtitle="Make your money, make money with our fixed deposits investments that help you build wealth."
                    imageurl="/images/scheduled.webp"
                />
                <Card
                    className="md:col-span-2 px-4"
                    title="Pay bills"
                    subtitle="Enjoy your favorite things without interruption; pay for your electricity, airtime, data, and more."
                    imageurl="/images/network2.webp"
                />
                <Card
                    className="md:col-span-2"
                    title="Get a Dot card"
                    subtitle="Open a bank account and request a Dot card. We'll deliver it to you anywhere in Nigeria."
                    imageurl="/images/accnt-statement.webp"
                />
            </div>
        </div>
    </section>
    <section
        class="bg-[url('/images/personal-bank.webp')] bg-cover mb-9 w-full h-[12rem] md:h-[28rem] bg-center"
    >
    </section>

    <SectionToggleMenu />
    <Section2 />
    <Testimonials />
    <Footer />
</Layout>

<style></style>
