---

---

<aside class="flex-1 max-w-2/3 space-y-12">
    <div class="space-y-4">
        <div class="">
            <p class="font-inter relative text-[16px] mb-4">If you invest</p>
        </div>
        <div class="relative bg-[#44484E] h-4 rounded-full mb-3 mt-4">
            <span
                class="absolute bg-white px-3 p-1 top-[50%] -translate-y-[50%] rounded-3xl text-black"
                >₦100K</span
            >
        </div>
        <div class="flex text-[#868C98] justify-between">
            <span>₦100k</span>
            <span>₦1M</span>
            <span>₦10M</span>
            <span>₦25M</span>
            <span>₦50M</span>
        </div>
    </div>
    <div class="space-y-4">
        <div class="">
            <p class="font-inter relative text-[16px] mb-4">for a period of</p>
        </div>
        <div class="relative bg-[#44484E] h-4 rounded-full mb-3 mt-4">
            <span
                class="absolute bg-white px-3 p-1 top-[50%] -translate-y-[50%] rounded-3xl text-black"
                >₦30days</span
            >
        </div>
        <div class="flex text-[#868C98] justify-between">
            <span>60days</span>
            <span>90days</span>
            <span>3mos</span>
            <span>6months</span>
            <span>2years</span>
        </div>
    </div>
    <div>
        <p class="font-inter">You get an estimate of</p>
        <h1 class="text-[#8BE27C] text-5xl font-medium mt-4 font-grosek">
            ₦54,000
        </h1>
    </div>
</aside>
