<section class="py-[70px] bg-gray-50">
    <div class="contain">
        <div class="text-center  max-w-[825px] mx-auto">
            <h1 class="text-5xl mb-2 font-bold">All you need, on the dot</h1>
            <p
                class="text-[#868c98] text-lg font-semibold"
                id="feature__section"
            >
                No matter your starting point, we have something for you. Our
                services are here to help you create the life you want now, and
                for a long time
            </p>
        </div>
    </div>
</section>
