---

---

<section
    class="relative z-10 mx-auto hidden w-[95%] max-w-[1336px] gap-x-3 gap-y-8 rounded-3xl bg-[#212225] p-8 md:grid md:grid-cols-4 lg:grid-cols-5 lg:p-12 xl:grid-cols-6"
>
    <div class="space-y-[10]">
        <h1 class="blue-color font-medium mb-10">Business</h1>
        <ul class="space-y-2">
            <li>Corporate Banking</li>
            <li>Investment</li>
            <li>DME Loans</li>
            <li>Dot Collect</li>
            <li>Coorporate HMO</li>
            <li>Micro Insurance</li>
        </ul>
    </div>
    <div class="space-y-[10]">
        <h1 class="blue-color font-medium mb-10">Personal</h1>
        <ul class="space-y-2">
            <li>Mobile and Web Banking</li>
            <li>Investments</li>
            <li>Personal Loans</li>
            <li>Cards</li>
            <li>Asset Finance</li>
            <li>POS Terminal</li>
            <li>Dot Lite</li>
            <li>HMO Retail</li>
            <li>Symptoms Checker</li>
        </ul>
    </div>
    <div class="space-y-[10]">
        <h1 class="blue-color font-medium mb-10">Agents</h1>
        <ul class="space-y-2">
            <li>POS Terminal</li>
            <li>Cards(Issuance)</li>
        </ul>
    </div>
    <div class="space-y-[10]">
        <h1 class="blue-color font-medium mb-10">Company</h1>
        <ul class="space-y-2">
            <li>Why Dot?</li>
            <li>About us</li>
            <li>DME Loans</li>
            <li>Careers</li>
            <li>Our Blog</li>
            <li>Developers</li>
        </ul>
    </div>
    <div class="space-y-[10]">
        <h1 class="blue-color font-medium mb-10">Legal</h1>
        <ul class="space-y-2">
            <li>Term of Use</li>
            <li>Privacy policy</li>
        </ul>
    </div>
    <div class="space-y-[10]">
        <h1 class="blue-color font-medium mb-10">Contact</h1>
        <ul class="space-y-2">
            <li>+234 803 4332 345</li>
            <li>support@dot.ai</li>
            <li>MJS Building, 366, Murtala Mohammed Way, Yaba, Lagos.</li>
        </ul>
    </div>

    <style>
        :root {
            font-family: var(--font-inter);
        }

        .blue-color {
            color: #c0d2f9;
        }
        ul {
            color: #bcc3cac1;
            @apply space-y-4;
        }
    </style>
</section>
