---

---

<section
    class="relative z-10 mx-auto justify-center w-[95%] max-w-[1336px] gap-x-3 grid-cols-2 gap-y-8 rounded-3xl bg-[#212225] p-8 grid md:grid-cols-4 lg:grid-cols-5 lg:p-12 xl:grid-cols-6"
>
    <div class="space-y-[10]">
        <h1 class="blue-color font-medium mb-10">Business</h1>
        <ul class="space-y-2">
            <li>
                <a href="/corporate-banking"> Corporate Banking </a>
            </li>
            <li>
                <a href="/investment"> Investment </a>
            </li>
            <li>
                <a href="/loans"> DME Loans </a>
            </li>
            <li><a href="/collect"> Dot Collect </a></li>
            <li><a href="/corporate-hmo">Coorporate HMO</a></li>
            <li><a href="/micro-insurace">Micro Insurance</a></li>
        </ul>
    </div>
    <div class="space-y-[10]">
        <h1 class="blue-color font-medium mb-10">Personal</h1>
        <ul class="space-y-2">
            <li><a href="/personal-banking">Mobile and Web Banking</a></li>
            <li><a href="/investment">Investments</a></li>
            <li><a href="/loans">Personal Loans</a></li>
            <li><a href="/dot-card">Cards</a></li>
            <li><a href="/asset-finance">Asset Finance</a></li>
            <li><a href="/pos-terminal">POS Terminal</a></li>
            <li><a href="">Dot Lite</a></li>
            <li><a href="https://www.dot.ai/retail-hmo">HMO Retail</a></li>
            <li>
                <a
                    href="https://www.livehealthily.com/symptom-checker?utm_source=dot&utm_medium=hmo-site-top-nav&utm_campaign=pilot"
                    >Symptoms Checker</a
                >
            </li>
        </ul>
    </div>
    <div class="space-y-[10]">
        <h1 class="blue-color font-medium mb-10">Agents</h1>
        <ul class="space-y-2">
            <li><a href="/pos-terminal">POS Terminal</a></li>
            <li><a href="/dot-card">Cards(Issuance)</a></li>
        </ul>
    </div>
    <div class="space-y-[10]">
        <h1 class="blue-color font-medium mb-10">Company</h1>
        <ul class="space-y-2">
            <li><a href="https://www.dot.ai/why-dot">Why Dot?</a></li>
            <li><a href="https://www.dot.ai/about">About us</a></li>

            <li><a href="https://www.dot.ai/careers">Careers</a></li>
            <li><a href="https://www.dot.ai/blogs">Our Blog</a></li>
            <li><a href="https://www.dot.ai/developers">Developers</a></li>
        </ul>
    </div>
    <div class="space-y-[10]">
        <h1 class="blue-color font-medium mb-10">Legal</h1>
        <ul class="space-y-2">
            <li><a href="https://www.dot.ai/terms-of-use">Term of Use</a></li>
            <li>
                <a href="https://www.dot.ai/privacy-policy">Privacy policy</a>
            </li>
        </ul>
    </div>
    <div class="space-y-[10]">
        <h1 class="blue-color font-medium mb-10">Contact</h1>
        <ul class="space-y-2">
            <li>
                <a href="tel:+2348034332345">+234 803 4332 345</a>
            </li>
            <li><a href="mailto:support@dot.ai">support@dot.ai</a></li>
            <li><a href="mailto:help@dot.ai">help@dot.ai</a></li>
            <li>MJS Building, 366, Murtala Mohammed Way, Yaba, Lagos.</li>
        </ul>
    </div>

    <style>
        :root {
            font-family: var(--font-inter);
        }

        .blue-color {
            color: #c0d2f9;
        }
        ul {
            color: #bcc3cac1;
            @apply space-y-4;
        }
        a {
            color: #bcc3cac1 !important;
            text-decoration: none;
        }
    </style>
</section>
