---
import { Image } from "astro:assets";
---

<section class="bg-[#F9FBFF] py-32">
    <div class="contain">
        <div>
            <h1 class="font-grosek text-4xl mb-3 font-medium">
                Here's what our customers say
            </h1>
            <p class="font-inter text-muted text-lg">
                Join thousands of people in our community who are already
                building <br /> wealth with us
            </p>
        </div>
        <div
            class="grid grid-cols-3 max-[200px]:grid-cols-2 max-sm:grid-cols-1 gap-6 mt-10"
        >
            <div
                class="p-10 px-6 bg-white min-h-[360px] flex flex-col justify-between shadow rounded-2xl"
            >
                <div class="">
                    <h1 class="font-medium font-grosek text-xl">
                        <span class="text-muted/90 font-[400]">
                            I never thought I would speak about a bank this
                            much, but here I am!
                        </span> Dot's financial services saved me hundreds.
                    </h1>
                </div>
                <div class="flex items-center gap-2">
                    <Image
                        src="/images/profile4.webp"
                        class="object-cover rounded-xl"
                        width={50}
                        height={50}
                        alt=""
                    />
                    <div class="text-sm">
                        <span class="font-grosek block font-medium"
                            >Imole Adewunmi</span
                        >
                        <span class="block text-muted">Business Owner</span>
                    </div>
                </div>
            </div>
            <div
                class="p-10 px-6 bg-white min-h-[360px] flex flex-col justify-between shadow rounded-2xl"
            >
                <div class="">
                    <h1 class="font-medium font-grosek text-xl">
                        <span class="text-muted/90 font-[400]">
                            I had my doubts about using a new fintech for my
                            banking needs. But Dot exceeded all expectations.
                        </span> User-friendly & transparent.
                    </h1>
                </div>
                <div class="flex items-center gap-2">
                    <Image
                        src="/images/webp (1).webp"
                        class="object-cover rounded-full"
                        width={50}
                        height={50}
                        alt=""
                    />
                    <div class="text-sm">
                        <span class="font-grosek block font-medium"
                            >Johnson Chukwudi</span
                        >
                        <span class="block text-muted">Spare Parts Dealer</span>
                    </div>
                </div>
            </div>
            <div
                class="p-10 px-6 bg-white min-h-[360px] flex flex-col justify-between shadow rounded-2xl"
            >
                <div class="">
                    <h1 class="font-medium font-grosek text-xl">
                        <span class="text-muted/90 font-[400]">
                            Why didn't I find out about Dot sooner? Their
                            banking services have
                        </span> simplified my life in ways that I never thought was
                        possible.
                    </h1>
                </div>
                <div class="flex items-center gap-2">
                    <Image
                        src="/images/profile4.webp"
                        class="object-cover rounded-xl"
                        width={50}
                        height={50}
                        alt=""
                    />
                    <div class="text-sm">
                        <span class="font-grosek block font-medium"
                            >Bolanle Fatai</span
                        >
                        <span class="block text-muted"
                            >Mother and Shop Owner</span
                        >
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
