---
import CustomButton from "../CustomButton.astro";
import CaretDown from "../UI/CaretDown.astro";
---

<section class="py-20">
    <div class="contain">
        <div class="text-center">
            <h1 class="font-grosek text-3xl md:text-[2.8rem] font-medium mb-2">
                Becoming a Dot hero is easy
            </h1>
            <p class="font-inter md:text-lg text-muted text-balance">
                It only takes 10 minutes to get a terminal that will make life
                easier for you
            </p>
        </div>

        <div class="flex max-md:flex-col max-md:space-y-7 md:space-x-5 mt-9">
            <div class="w-[200px] h-auto">
                <ul class="font-grosek text-sm font-[410]">
                    <li class="active" data-list>Step 1: Begin</li>
                    <li class="" data-list>Step 2: Request</li>
                    <li class="" data-list>Step 3: Get POS</li>
                    <li class="" data-list>Step 4: Fund</li>
                </ul>
            </div>
            <div
                class="flex-1 md:space-x-11 max-md:flex-col flex"
                id="showcase"
            >
                <div class="md:w-1/2 max-md:h-[350px]">
                    <div
                        class="w-full max-w-[600px] bg-[url('/images/posterminal-step1.webp')] bg-center bg-cover h-full rounded-2xl"
                    >
                    </div>
                </div>
                <div class="space-y-10 w-1/2 max-md:mt-8">
                    <div>
                        <h1 class="font-grosek mb-2 font-medium text-[1.8rem]">
                            Visit our partners
                        </h1>
                        <p class="text-muted font-">
                            Visit any of our Dot Partners Locations to get your
                            terminal, we have offices in 11 states in the
                            country. To get started there, kindly go with the
                            following documents:
                        </p>
                    </div>
                    <div>
                        <ul class="space-y-6 text-[14px]">
                            <li class="flex items-center gap-x-3">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="#C2F2BA"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="shrink-0"
                                    ><rect width="24" height="24" rx="12"
                                    ></rect><g clip-path="url(#clip0_53_3363)"
                                        ><path
                                            d="M10.6665 14.1146L16.7945 7.98596L17.7378 8.92863L10.6665 16L6.42383 11.7573L7.3665 10.8146L10.6665 14.1146Z"
                                            fill="black"></path></g
                                    ><defs
                                        ><clipPath id="clip0_53_3363"
                                            ><rect
                                                width="16"
                                                height="16"
                                                fill="white"
                                                transform="translate(4 4)"
                                            ></rect></clipPath
                                        ></defs
                                    ></svg
                                ><span>Valid means of identification</span>
                            </li>
                            <li class="flex items-center gap-x-3">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="#C2F2BA"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="shrink-0"
                                    ><rect width="24" height="24" rx="12"
                                    ></rect><g clip-path="url(#clip0_53_3363)"
                                        ><path
                                            d="M10.6665 14.1146L16.7945 7.98596L17.7378 8.92863L10.6665 16L6.42383 11.7573L7.3665 10.8146L10.6665 14.1146Z"
                                            fill="black"></path></g
                                    ><defs
                                        ><clipPath id="clip0_53_3363"
                                            ><rect
                                                width="16"
                                                height="16"
                                                fill="white"
                                                transform="translate(4 4)"
                                            ></rect></clipPath
                                        ></defs
                                    ></svg
                                ><span> Passport photograph</span>
                            </li>
                            <li class="flex items-center gap-x-3">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="#C2F2BA"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="shrink-0"
                                    ><rect width="24" height="24" rx="12"
                                    ></rect><g clip-path="url(#clip0_53_3363)"
                                        ><path
                                            d="M10.6665 14.1146L16.7945 7.98596L17.7378 8.92863L10.6665 16L6.42383 11.7573L7.3665 10.8146L10.6665 14.1146Z"
                                            fill="black"></path></g
                                    ><defs
                                        ><clipPath id="clip0_53_3363"
                                            ><rect
                                                width="16"
                                                height="16"
                                                fill="white"
                                                transform="translate(4 4)"
                                            ></rect></clipPath
                                        ></defs
                                    ></svg
                                ><span>House utility bill</span>
                            </li>
                            <li class="flex items-center gap-x-3">
                                <svg
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    fill="#C2F2BA"
                                    xmlns="http://www.w3.org/2000/svg"
                                    class="shrink-0"
                                    ><rect width="24" height="24" rx="12"
                                    ></rect><g clip-path="url(#clip0_53_3363)"
                                        ><path
                                            d="M10.6665 14.1146L16.7945 7.98596L17.7378 8.92863L10.6665 16L6.42383 11.7573L7.3665 10.8146L10.6665 14.1146Z"
                                            fill="black"></path></g
                                    ><defs
                                        ><clipPath id="clip0_53_3363"
                                            ><rect
                                                width="16"
                                                height="16"
                                                fill="white"
                                                transform="translate(4 4)"
                                            ></rect></clipPath
                                        ></defs
                                    ></svg
                                ><span
                                    >Your Next of Kin passport and house utility
                                    bill</span
                                >
                            </li>
                        </ul>
                        <CustomButton
                            href="https://www.dotai/signup"
                            id="ssd"
                            text="Contact support"
                            className="bg-black text-white mt-12"
                        />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    ul.font-grosek > li {
        height: 60px;
        display: flex;
        align-items: center;
        padding: 16px;
        border-left: 2.3px solid black;
        cursor: pointer;
    }

    ul.font-grosek > li:not(.active) {
        @apply border-muted text-muted;
    }
</style>
