---
import { ViewTransitions } from "astro:transitions";
import "../styles/font.css";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    .contain {
        max-width: 1240px;
        width: 90%;
        margin: 0 auto;
    }

    :root {
        --font-inter: "__Inter_aaf875", "__Inter_Fallback_aaf875";
    }

    .font-inter {
        font-family: var(--font-inter);
    }
</style>
