---
import { ViewTransitions } from "astro:transitions";
import "../styles/font.css";
import "../styles/animation.css";
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <ViewTransitions />
        <script  type="module" src="../../src/scripts/animation.ts"></script>
    </head>
    <body>
        <slot />
    </body>
</html>

<style is:global>
    .contain {
        max-width: 1240px;
        width: 90%;
        margin: 0 auto;
    }

    :root {
        --font-inter: "__Inter_aaf875", "__Inter_Fallback_aaf875";
        --font-grotesk25: "__grotesk25_0edee8", "__grotesk25_Fallback_0edee8";
        --font-grosek: "__grotesk_2bf059", "__grotesk_Fallback_2bf059";
    }
    .font-grosek {
        font-family: var(--font-grosek);
    }
    .font-inter {
        font-family: var(--font-inter);
    }
    .font-grotesk25 {
        font-family: var(--font-grotesk25);
    }
    ::selection {
        color: #f7f7f7;
        background: #4f555f;
    }

    .scroll-none {
        scrollbar-width: 0;
    }

    html {
        padding: 0;
        margin: 0;
    }
</style>
