<div class="bg-[#212225] w-full active px-5 pb-0 rounded-lg">
    <div
        data-faq
        class="flex justify-between cursor-pointer select-none text-xl w-full py-[16px] items-center"
    >
        <h1 class="">Are staff allowed here?</h1>
        <span class="">+</span>
        <span class="hidden">-</span>
    </div>
    <div data-state="closed" class="transition-all h-0 overflow-hidden">
        <p
            class="text-lg pb-[16px] transition-all duration-700 overflow-hidden"
        >
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Laboriosam
            eligendi cumque ratione ipsum esse deserunt consectetur, dignissimos
            asperiores exercitationem distinctio perferendis nostrum eveniet
            iure explicabo, pariatur aliquid tempora expedita debitis?
        </p>
    </div>
</div>
