---
import CaretDown from "./CaretDown.astro";
---

<nav class="xl:ml-[2.5rem] ml-4 flex justify-center items-center">
    <ul class="flex w-full gap-[2.5rem]">
        <li class="flex gap-[.1rem] items-center">
            <span class="">Agents</span>
            <CaretDown />
        </li>
        <li class="flex gap-[.1rem] items-center">
            <span>Why Dots?</span>
            <CaretDown />
        </li>
    </ul>
</nav>
